@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

/* TYPOGRAPHY */
h1 {
  font-size: 64px;
}

h2 {
  font-size: 4vw;
}

@keyframes GradientAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 240px 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 2px;
  background-color: #000;
  grid-template-areas: "header header" "content content" "footer footer";
}
.site-container header {
  grid-area: header;
}
.site-container main {
  grid-area: content;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  background: linear-gradient(150deg, #7b68ee, #fff, #00ffea);
  background-size: 200% 200%;
  animation: GradientAni 10s ease infinite;
}
.site-container footer {
  grid-area: footer;
}

.page {
  display: none;
  padding: 2rem;
  height: 100%;
  overflow: scroll;
}
.page.active {
  display: block;
}
.page .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  grid-auto-flow: dense;
  grid-gap: 32px;
}

/* components */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: none;
}
.header .nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header .nav .nav__link {
  z-index: 100;
  display: block;
  text-decoration: none;
  font-size: 1.2rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
.header .nav .nav__link.active {
  color: #7b68ee;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  background-color: #7b68ee;
  color: #000;
}
.footer p {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer p a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #000;
}

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle__btn {
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 100%;
  background-color: #000;
  transform: rotate(-30deg);
}
.circle__btn a {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
}

.circle__text {
  position: absolute;
  font-size: 64px;
  text-transform: uppercase;
  animation: rotateText 20s linear infinite;
}
.circle__text span {
  position: absolute;
  top: -240px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 240px;
}

.notes__sidebar {
  border-right: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 1em;
  width: 300px;
}

.notes__add {
  background: #009578;
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 100%;
}

.notes__add:hover {
  background: #00af8c;
}

.notes__list-item {
  cursor: pointer;
}

.notes__list-item--selected {
  background: #eeeeee;
  border-radius: 7px;
  font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
  padding: 10px;
}

.notes__small-title {
  font-size: 1.2em;
}

.notes__small-body {
  padding: 0 10px;
}

.notes__small-updated {
  color: #aaaaaa;
  font-style: italic;
  text-align: right;
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 2em 3em;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  flex-grow: 1;
  font-size: 1.2em;
  line-height: 1.5;
  margin-top: 2em;
  resize: none;
}

/* SITE LAYOUT */
/* PAGE CONTENT */

/*# sourceMappingURL=style.css.map */
