@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
}

/* TYPOGRAPHY */
h1 {
  font-size: 64px;
}

h2 {
  font-size: 4vw;
}

@keyframes GradientAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}
@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-container {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 2px;
  background-color: #000;
  grid-template-areas: "header" "content" "footer";
}
.site-container header {
  grid-area: header;
  z-index: 6;
}
.site-container main {
  grid-area: content;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(150deg, #7b68ee, #fff, #00ffea);
  background-size: 200% 200%;
  animation: GradientAni 10s ease infinite;
  overflow-y: hidden;
}
.site-container main .page {
  display: none;
}
.site-container main .page.active {
  display: block;
  width: 100%;
  height: 100%;
}
.site-container main .page#notes {
  display: none;
  height: 100%;
}
.site-container main .page#notes.active {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "sidebar allnotes";
}
@media screen and (max-width: 1025px) {
  .site-container main .page#notes.active {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 600px) {
  .site-container main .page#notes.active {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "allnotes" "sidebar";
  }
}
.site-container footer {
  grid-area: footer;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

/* components */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: none;
}
.header .nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header .nav .nav__link {
  z-index: 100;
  display: block;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}
.header .nav .nav__link.active {
  color: #7b68ee;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: #7b68ee;
  color: #000;
}
.footer p {
  font-size: 1rem;
  font-weight: bold;
}
.footer p a {
  text-decoration: none;
  font-weight: normal;
  color: #000;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 1024px) {
  .footer {
    padding: 1rem 2rem;
  }
  .footer p {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    display: none;
  }
}

.home-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle__btn {
  width: 160px;
  height: 160px;
  border: none;
  border-radius: 100%;
  background-color: #000;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.circle__btn a {
  color: #fff;
  font-size: 24px;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-decoration: none;
}
.circle__btn:hover {
  transform: scale(110%);
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.2);
}

.circle__text {
  position: absolute;
  font-size: 64px;
  text-transform: uppercase;
  animation: rotateText 20s linear infinite;
}
.circle__text span {
  position: absolute;
  top: -240px;
  text-transform: uppercase;
  display: inline-block;
  transform-origin: 0 240px;
}

.notes__sidebar {
  padding: 2rem;
  grid-area: allnotes;
  overflow-y: scroll;
}
.notes__preview {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-right: 2px solid #000;
}
.notes__title, .notes__body {
  border: none;
  outline: none;
  width: 100%;
}
.notes__title {
  font-size: 2em;
  font-weight: 800;
  position: relative;
  padding: 1rem;
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.05), inset 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.notes__body {
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 1rem;
  margin-top: 1em;
  resize: none;
  color: grey;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: white;
  box-shadow: inset -2px -2px 4px 0px rgba(0, 0, 0, 0.05), inset 2px 2px 4px 0px rgba(0, 0, 0, 0.05);
}
.notes__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  grid-gap: 32px;
}
.notes__list-item {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  min-height: 240px;
  height: 100%;
  border: 2px solid #000;
  border-radius: 8px;
  gap: 8px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  position: relative;
}
.notes__list-item:after {
  opacity: 0;
  content: "double click to delete";
  position: absolute;
  right: -1px;
  top: -1px;
  font-size: 13px;
  background-color: black;
  color: #fff;
  border-top-right-radius: 8px;
  padding: 4px 8px;
  text-align: center;
  max-width: 80px;
}
.notes__list-item:hover {
  transform: scale(102%);
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
}
.notes__list-item:hover:after {
  opacity: 1;
}
.notes__list-item--selected {
  background-color: #7b68ee;
}
.notes__small-title {
  font-weight: bold;
}
.notes__small-body {
  font-size: 20px;
  flex-grow: 1;
}
.notes__small-updated {
  font-size: 13px;
}
.notes__add {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 8px;
  padding: 1em 0;
  transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.notes__add:hover {
  background-color: #7b68ee;
}
@media screen and (max-width: 1025px) {
  .notes__sidebar {
    padding: 1rem;
  }
  .notes__preview {
    gap: 16px;
    padding: 1rem;
    box-shadow: -4px 0 8px 4px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .notes__title {
    padding-top: 16px;
    font-size: 1.5rem;
  }
  .notes__body {
    font-size: 1rem;
    margin-top: 0rem;
    min-height: 96px;
    margin-bottom: 16px;
  }
  .notes__list {
    grid-gap: 16px;
  }
  .notes__list-item {
    min-height: 180px;
  }
  .notes__small-body {
    font-size: 1rem;
    margin: 0px;
    height: auto;
  }
  .notes__small-body textarea {
    height: auto;
  }
  .notes__add {
    font-size: 14px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 600px) {
  .notes {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "allnotes" "sidebar";
  }
}

/* SITE LAYOUT */
/* PAGE CONTENT */

/*# sourceMappingURL=style.css.map */
