.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  background-color: none;

  .nav {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nav__link {
      z-index: 100;
      display: block;
      text-decoration: none;
      font-size: 1rem;
      color: $light;
      font-weight: 500;
      cursor: pointer;
      position: relative;

      &.active {
        color: $color;
      }
    }
  }
}
