@keyframes GradientAni {
  0% {
    background-position: 10% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 10% 0%;
  }
}

@keyframes rotateText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
